/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html,.stylelint{line-height:1}body,.stylelint{line-height:inherit}ol,ul,.stylelint{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */


/* Base Styles */
/*
  Hint: these tend to be
  1. element selectors
  2. concerned with color and typography
  3. basic element presenation
*/

/*
  Setting type with a 4:3 modular scale
  http://www.modularscale.com/?18&px&1.333
*/
html {
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.222em; /* 22 / 18 = 1.2222222222 */
  background-color:#FFD0FF;
  font-family:sans-serif;

}
body {
  padding-top: 3.667em; /* 66 / 18 = 3.667... */
  padding-right: 1.222em; /* 22 / 18 = 1.2222222222 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222222 */
  padding-bottom: :1.222em;
}

#header{
  text-align:left;
}


h1,
h2,
h3,
h4,
p {
  padding-bottom: 1.222em; /* 22 / 18 = 1.2222222222 */
}

h1 {
  font-size: 1.369em; /* 42.635 / 18 = 2.369 */
  line-height: 1.032em; /* 44 / 42.635 = 1.032 */
  padding-bottom: 0.516em; /* 22 / 42.635 = 0.516 */
  font-weight: bold;
}
h2 {
  font-size: 1.777em; /* 31.984 / 18 = 1.777 */
  line-height: 1.032em; /* 33 / 31.984 = 1.032 */
  padding-bottom: 0.688em; /* 22 / 31.984 = 0.688 */
}
h3 {
  font-weight:normal;
}

ul {
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}

ul {
  list-style-type: georgian;
}
li ol,
li ul {
  padding-top: 0.611em; /* 11 / 18 = 0.6111111 */
  padding-left: 1.222em; /* 22 / 18 = 1.2222222222 */
  padding-bottom: 0;
}
li {
  list-style-type:none;
}
li li{
  list-style-type: none;
}
li {
  padding-bottom: 0.611em; /* 11 / 18 = 0.6111111 */
}
li li:last-child {
  padding-bottom: 1.222;
}

/* Responsive Media */
img,
video,
audio {
  display: grid;
  max-width: 100%;

}

/* Layout Styles */
/*
  Hint: these tend to be
  1. IDs; but also classes, sometimes
  2. concerned with layout and spatial
     relationships
*/

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  background-color: SkyBlue;
}
#navigation li {
  float: left;
  width: 33.3333333333%;
  background-color: green;
}
#navigation a {
  display: block;
  width: 100%;
  padding-top: 0.611em; /* 11 / 18 = 0.611 */
  padding-bottom: 0.611em;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: LightSeaGreen;
}
.flexbox #navigation ul {
  display: flex;
}
.flexbox #navigation li {
  float: none;
}



/* Modular Styles */
/*
  Repeating style patterns.
  Hint: these tend to be:
  1. classes and relationship selectors
  2. concerned with adjustments to base styles,
      spacing, color, etc. etc.
*/

#navigation ul,
#navigation li {
  list-style-type: none;
  padding-bottom: 0;
}


/* State Styles */
/*
  States of the browser and user access
  conditions.
  Hint: these tend to be:
  1. Driven by media queries
  2. Influenced by JavaScript
  3. Organized by Base, Layout, Module, State
*/

@media screen and (min-width: 375px) {
  body {
    padding-right: 11.73333333%; /* 44 / 375 = 11.73333333% */
    padding-left: 11.73333333%; /* 44 / 375 = 11.73333333% */
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 1.25em; /* 20 / 16 = 1.25em */
  }
}

@media screen and (min-width: 860px) {
  /*
    700 pixel grid w/ 80px margins (160)
    Columns: 200px;
    Gutters: 50px;
    Primary module: 450px;
    Secondary modul: 200px;
  */
  body {
    padding-right: 9.302325581%; /* 80 / 860 = 0.09302325581% */
    padding-left: 9.302325581%; /* 80 / 860 = 0.09302325581% */
  }
  #primary {
    width: 64.28571429%; /* 450 / 700 = 0.6428571429 */
    float: left;
  }
  #supporting {
    width: 28.57142857%; /* 200 / 700 = 0.2857142857 */
    margin-left: 7.142857143%; /* 50 / 700 = 0.07142857143 */
    float: left;
  }
  #footer {
    clear: both;
  }
  .flexbox #primary,
  .flexbox #supporting {
    float: none;
    margin-left: 0;
    flex: 0 1 auto; /* The default; here for demo purposes */
  }
  .flexbox #content {
    display: flex;
    justify-content: space-between;
  }
  .cssgrid #content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    grid-column-gap: 25px;
  }
  .cssgrid #primary,
  .cssgrid #supporting {
    width: auto;
  }
  .cssgrid #primary {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .cssgrid #supporting {
    grid-column: 3;
    grid-row: 2;
  }
}
