/* Modular scale: 3:4 at 20px
63.147px 3.157em h1
47.372px 2.369em h2
35.538px 1.777em h3
26.660px 1.333em h4, h5, h6
20.000px 1.000em p, li
15.004px 0.750em figcaption
*/
/* stylelint-enable */

html {
  font-size: 1em;/* 20/16 */
  line-height: 2em;
  background-color: #202020;
  color: #F0FFFF;
  font-family: 'Open Sans', sans-serif;
}

#content {
  padding-top: 4em;
  padding-left: 3%;
  padding-right: 3%;
}

footer {
  padding-bottom: 1em;
}

section {
  padding-bottom: 3em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #FFFFFF;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h4,
h5,
h6 {
  font-weight:normal;
}

h1 {
  font-size: 2em; /* 63.147 / 20 */
  line-height: 1.10852455382em; /* 70 / 63.147 */
  padding-bottom: 0.15836065054em;
  padding-top: 2em; /* 10 / 63.147 */
}

h2 {
  font-size: 1.5em; /* 47.372 / 20 */
  line-height: 1.05547580849em; /* 50 / 47.372 */
  padding-bottom: 0.21109516169em; /* 10 / 47.372 */
}

h3 {
  font-size: 1.2em; /* 35.538 / 20 */
  line-height: 1.12555574315em; /* 40 / 35.538 */
  padding-bottom: 0.28138893578em; /* 10 / 35.538 */
  text-align: right;
}

h4 {
  font-size: 0.8888em; /* 26.660 / 20 */
  line-height: 1.12528132033em; /* 30 / 26.660 */
  padding-bottom: 0.37509377344em; /* 10 / 26.660 */
}

h3 + h4 {
  padding-top: 0.5em;
}

p, ol, ul, figure {
  font-family: 'Open Sans', sans-serif;
;
}

p {
  font-size: 1em;
}

ol,
ul {
  padding-left: 2em;
}

ul {
  list-style-type: none;
}

ol {
  list-style-type: none;
}

p + h2,
ul + h2,
ol + h2,
li + h2 {
  padding-top: 0.84438064679em; /* 40 / 47.372 */
}

p + h3,
ul + h3,
ol + h3,
li + h3 {
  padding-top: 0.84416680736em; /* 30 / 35.538 */
}

p + h4,
ul + h4,
ol + h4,
li + h4 {
  padding-top: 0.75018754688em; /* 20 / 26.660 */
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
;
}

a:hover,
a:active {
  color: white;
  background-color: #404040;
}

/* Avoid over-padding nested lists - Credit to Karl Stolley */
li ol,
li ul,
li{
  text-align: right;
  line-height: 2em;
}

figure {
  text-align: center;
  padding-right:2.3em;
  padding-bottom: 1em;
}

img {
    display: center;
    max-width: 100%;
    margin: auto;
  }

figcaption {
  font-size: 0.75em; /* 15.004 / 20 */
  line-height: 1.33297787257em; /* 20 / 15.004 */
  padding-top: 0.33324446814em; /* 5 / 15.004 */
  padding-bottom: 0.33324446814em; /* 5 / 15.004 */
}

#navigation {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

#navigation ul {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
color: white;
}

#navigation li {
  line-height: 4em;
  list-style-type: none;
  text-align: center;
  float: left;
  width: 33.3333%;
  background-color: #282828;
  padding-bottom: 0;
}

#navigation a {
  text-align: center;
  display: block;
  width: 100%;
}
#column_gap {
  -webkit-column-count: 5;
  -moz-column-count: 5;
  column-count: 5;
  -moz-column-gap: 2em;
  -webkit-column-gap: 2em;
  column-gap: 2em;
}

@media screen and (min-width: 600px) {
  #navigation li {
    line-height: 3em;
  }

  #content {
    padding-top: 3em;
  }

  figure > img {
    width: 40%;
  }
}

@media screen and (min-width: 900px) {
  #navigation li {
    line-height: 2em;
  }

  #content {
    padding-top: 2em;
  }

  figure > img {
    width: 30%;
  }
}
